[Unit]
Description=Mount virtiofs workspace
After=local-fs.target

[Mount]
What=mount0
Where=/var/workspace
Type=virtiofs

[Install]
WantedBy=multi-user.target
